table {
    border: 1px solid black ;
}


#wrapper{
    font-family: Helvetica, "Helvetica Neue", sans-serif;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#logo {
    display: inline;
}

#heading {
    display: inline;
}

#heading li{
    display: block;
    position: relative;
    float: right;
    text-align: center;
    margin-top: 45px;
    padding: 12px 5px;
    text-decoration: none;
}

#heading li a {
    text-decoration: none;
}

#header1 {
    font-size: 24pt;
    font-weight: bolder;
    padding-left: 8%;
    padding-top: 28%;
}

#header2{
    font-size: 16pt;
    padding-left:70%;
    padding-top: 5%;
    font-weight: bold;
}

#body1 {
    background-image: url("../images/4x4-adventure-automobile.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 554px;
}

#boxleft {
    background-color: rgba(0,0,0,0.5);
    float: left;
    width: 50% ;
    height: 100%;
}

#footer{
    height: 80px;
    background-color: black;
    padding-top: 30px;
    text-align: center;
}

.fontbold {
    font-weight: bolder;
}


.fontcolorblue {
color: blue;
}

.fontcolorwhite {
color: white;
}

.fontsizesmall {
font-size: 9pt;
}


.backgroundwhite {
    background-color:white;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.margin1 {
    margin: 1px;
}
