#wrapper{
    font-family: Helvetica, "Helvetica Neue", sans-serif;
    width: 960px;
}

#heading li{
    display: inline;
}

#header1 {
    font-size: 13pt;
}


#header2{
    font-size: 11pt;
}

#logo {

}

#footer{
    background-color: black;
    text-align: center;
}

.fontcolorblue {
    color: blue;
}

.fontcolorwhite {
    color: white;
}
.fontsizesmall {
    font-size: 9pt;
}

#body1 {
    background-image: url("../images/4x4-adventure-automobile-1571783 (1).jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
}

.backgroundwhite {
    background-color:white;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.floatleft {
    float: left;
}

.floatright {
    float: right,
}
.margin1 {
    margin: 1px;
}